/* frontend/src/pages/SearchResultsPage/SearchResultsPage.css */

.search-results-page {
  padding: 1rem 0.5rem;
  max-width: 960px;
  margin: 3.0rem auto;
  border-radius: 1.5rem;
  background-color: var(--background-light-variant);
  color: var(--text-on-light-bg);
  min-height: calc(20vh - var(--header-height, 0px) - var(--footer-height, 0px));
}

/* Encabezado de la página de resultados. */
.search-results-header {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-on-light-bg);
}

/* Título de los resultados de búsqueda. */
.search-results-title {
  font-size: 2.2rem;
  font-family: 'Poppins-Bold';
  color: var(--color-secondary);
  margin-bottom: 0.5rem;
}

/* Estilo para resaltar el término de búsqueda. */
.search-term-highlight {
  color: var(--color-quaternary);
  font-family: 'Poppins-Bold';
}

/* Estilos para mensajes de estado (cargando, error, sin resultados). */
.loading-message,
.error-message,
.no-results-message {
  text-align: center;
  padding: 1.5rem;
  margin: 1.5rem auto;
  border-radius: 8px;
  font-size: 1.4rem;
  background-color: var(--color-tertiary);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  max-width: 500px;
  color: var(--color-white);
}

/* Estilos específicos para mensajes de error. */
.error-message {
  color: var(--color-quaternary);
  border: 1px solid var(--color-quaternary);
  background-color: rgba(237, 66, 66, 0.1);
}

/* Estilos para enlaces dentro de mensajes "sin resultados". */
.no-results-message a {
  color: var(--color-quaternary);
  text-decoration: none;
  font-family: 'Poppins-Bold';
}

/* Estilos para párrafos dentro de mensajes "sin resultados". */
.no-results-message p {
  color: var(--color-white);
  font-family: 'Poppins-Bold';
}

/* Efecto hover para enlaces en mensajes "sin resultados". */
.no-results-message a:hover {
  text-decoration: underline;
}

/* Cuadrícula de visualización de productos. */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1.5rem 0;
}